<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  {% if site.description != empty %}
    <section class="sidebar-item description">
      <p>{{ site.description }}</p>
    </section>
  {% endif %}

  {% include 'nav_menu' %}

  {% include 'bio' %}

  <section class="sidebar-item">
    <h2>Archive</h2>
    {% form 'archive' %}
    <a href="{{ site.archive_url }}">Browse the archive</a>
  </section>

  {% include 'contributors' %}

  {% if site.subscription_enabled? %}
    <section class="subscribe sidebar-item">
      <h2>Subscribe</h2>

      {% form 'subscribe' include_prompt:true %}

      <a href="{{ site.feed_url }}">Subscribe to the feed</a>
    </section>
  {% endif %}

  {% include 'blogroll' %}
  {% include 'tags' %}

  <section class="sidebar-item">
    Built with <a href="https://posthaven.com/">Posthaven</a>
    <div class="user-menu">
      {{ posthaven.user_menu }}
    </div>
  </section>
</div>
